@import "../../../styles/variables";

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .innerContentWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      row-gap: 10rem;
      column-gap: 5rem;
      max-width: clamp(100rem, 60%, 110rem);

      .title {
        color: $white;
        margin-bottom: 7rem;
        width: 100%;
      }

      .clientWrapper {
        min-width: 20rem;
        min-height: 5rem;
   
        &:hover svg {
            fill: $navigationGreen;
        }
          svg {
            fill: $clientsGray;
          }
      }
    }
  }

  .contentCenteredInSection {
    width: 60%;
  }
}
.backgroundWhite {
  background-color: $white;
}

.backgroundBlack {
  background-color: $black;
}
