@import "../../../styles/variables";

.wrapper {
  display: flex;
  justify-content: center;
  padding: 10rem 0;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .innerContentWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 5rem;

      .title {
        color: $white;
        margin-bottom: 10rem;
        width: 100%;
      }

      .clientWrapper {
        min-width: 12rem;
        min-height: 5rem;

        .image {
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
  .contentCenteredInLayout {
    width: 60%;
  }
}
.backgroundWhite {
  background-color: $white;
}

.backgroundBlack {
  background-color: $black;
}
