@import "../../../styles/variables";

.wrapper {
  
  .cubesWrapper {
    width: 9rem;
    height: 9rem;
    margin-left: -5rem;
    overflow: hidden;
    cursor: pointer;
    svg {
      fill: $black;
    }
  }
}


