@import "../../../../styles/mixins";

.wrapper {
  position: relative;

  @include imageWrapperProductDevlopment;
  .image1 {
    aspect-ratio: 1010/685 !important;
  }
  .image2 {
    aspect-ratio: 1010/592 !important;
  }
  .image3 {
    @include imageWrapperProductDevlopment(793, 1416);
  }
}
