@import "../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $headerHeight;

.workSectionWrapper {

}
.workGifWrapper {
  padding: 26rem 0;

}
.clientsWrapper {
  padding: 16rem 0 16rem;
  background-color: $black;

}

  h1 {
  padding: 7rem 0;

  }
}
