@import "../../../styles/variables";

.wrapper {
  h2 {
    font-weight: 700;
    font-size: 5rem;
    line-height: 130.3%;
    color: $jet;
    margin-bottom: 11rem;
  }

  li {
    margin-bottom: 5rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      position: absolute;
      background-color: $navigationGreen;
      left: -20px;
      top: 5px;
    }
  }

  .imageWrapper {
    .image {
      width: 100%;
      height: 70rem;
      position: relative;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
    p {
      margin: 2rem;
      color: gray;
    }
  }

  .processSteps {
    padding: 10rem 0;
    h4 {
      width: max-content;
      position: relative;
      font-weight: 500;
      font-size: 3rem;
      line-height: 155.8%;
      margin-bottom: 5rem;

      &::after {
        content: "";
        position: absolute;
        bottom: 1rem;
        left: 0;
        height: 0.3rem;
        width: 100%;
        background-color: $navigationGreen;
      }
    }

    p {
      margin-bottom: 5rem;
    }

    .paragraphGreen {
      color: $navigationGreen;
    }
  }

  .researchStage {
    p {
      margin-bottom: 5rem;
      span {
        color: $navigationGreen;
        margin-right: 0.5rem;
      }
    }
  }

  .uiDesignProcess {
    padding: 10rem 0;
    border-bottom: 1px solid $navigationGreen;
  }
  .researchAndDiscovery {
    padding: 10rem 0;
    p {
      margin-bottom: 10rem;
    }

    .tableWrapper {
      padding-bottom: 3rem;
      color: white;
      .upperTable {
        padding: 12rem 3rem 1rem 3rem;
        background-color: $footerBcgColor;
        .headingWrapper {
          margin-bottom: 10rem;
          h4 {
            color: $white;
          }
          h6 {
            color: $navigationGreen;
          }
        }

        .steps {
          display: flex;
          justify-content: space-between;
          span {
            display: block;
          }
        }
      }

      .lowerTable {
        display: flex;
        justify-content: space-between;
        gap: 6.7rem;
        padding: 4.5rem;
        border: 1px solid $jet;
      }
    }
  }

  .informationArchitecture {
    .imageWrapper {
      .image {
        width: 100%;
        height: 70rem;
        position: relative;
        overflow: hidden;
        img {
          object-fit: cover;
        }
      }
      p {
        margin: 2rem;
      }
    }
  }

  .visualDesignMockups {
  }

  .testing {
    position: relative;
  }

  .conclusion {
    p {
      margin-bottom: 2rem;
    }
  }
  .author {
    padding: 10rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
  }
}
