@import '../../../styles/variables';

.wrapper {
    border: 1px solid red;
    display: flex;
    gap: 7.6rem;

    .leftWrapper {
        width: 50%;

     .heading {
        padding: 5rem;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 116.8%;
        color: $jet;
        text-align: center;
     }
      .image {
        max-width: 49rem;
        height: 52rem;
        position: relative;
        overflow: hidden;
        img {
            object-fit: cover;
        }
      }
    }

    .rightWrapper {
        width: 50%;

        .accordionsWrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-top: 5rem;
        }
    }

}