@import '../../../styles/variables';

.wrapper {
    border: 1px solid red;
    display: flex;
    gap: 6rem;

    .leftWrapper {
        width: 50%;
     .heading {
        padding: 5rem;
     }
      .image {
        width: 100%;
        height: 50rem;
        position: relative;
        overflow: hidden;
        img {
            object-fit: cover;
        }
      }
    }
    .rightWrapper {
        width: 50%;

        .accordionsWrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            max-width: 50%;
            padding-top: 5rem;
        }
    }

}