@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.wrapper {
  @include imageWrapperProductDevlopment(57.2rem);
  p {
    margin-bottom: 5rem;
    span {
      color: $navigationGreen;
      margin-right: 0.5rem;
    }
  }
}
