@import "../../../styles/variables";

.wrapper {
  height: 92rem;
  .centralPart {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url("/assets/images/homePageHeroSection.png");
    background-repeat: no-repeat;
    background-size: cover;

    .headingWrappr {
      margin: 0 auto;
      padding-top: 10rem;
    }
  }
}
