@import "../../../../styles/variables";
@import "../../../../styles/mixins";
.wrapper {
  @include imageWrapperProductDevlopment;

  padding: 10rem 0;
  border-bottom: 2px solid $navigationGreen;

  @include desktop {
    border-bottom: 1px solid $navigationGreen;
  }
}
