@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrapper {
    padding: 10rem 0;
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    @include imageWrapperProductDevlopment;
  }
  