@import '../../../styles/variables';


.wrapper {
    display: flex;
    justify-content: center;
    background-color: $black;
    padding-top: 25rem;
    padding-bottom: 25rem;
    width: 100%;

    .content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        color: $white;
    }
    
    button {
        color: $white;
    }
    h2 {
        text-transform: uppercase;
    }
}