@import '../../styles/variables';

.wrapper {
    background-color: $homePageBcgColor;

    .linkBtn {
        padding: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}