@import "../../../styles/variables";

.wrapper {

  .slideSingle {
    // width: 35rem;
    height: 45rem;
    position: relative;
    overflow: hidden;
    img {
      object-fit: contain;
    }
  }

}

.height45 {
  height: 45rem;
  border: 1px solid red;
}
.height20 {
  height: 20rem;
}

