@import '../../../styles/variables';

.wrapper {
    border: 1px solid red;
  
    .slideSingle {
        width: 100%;
        position: relative;
        overflow: hidden;
        img {
            object-fit: cover;
        }
    }

    .height50 {
        height: 50rem;
    }
    .height20 {
        height: 20rem;
    }
}