@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $headerHeight;
  margin: 0 auto;
  max-width: $pagesMaxWidth;
  padding: 0 4.3rem;
  @include desktop {
    padding: 0;

  }
  h2 {
    font-weight: 700;
    line-height: 138.3%;
    font-size: 1.8rem;
    color: $jet;
    margin-bottom: 5rem;
    
    @include desktop {
      line-height: 130.3%;
      font-size: 5rem;
    }
  }

  p {
    font-size: 1.8rem;
  }
  li {
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 5rem;
    margin-left: 2rem;

    &::before {
      content: "";
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      position: absolute;
      background-color: $navigationGreen;
      left: -2rem;
      top: 1rem;
      
      @include desktop {
        display: block;

      }
    }
  }
}
