@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.wrapper {
  padding-top: 8rem;
  @include imageWrapperProductDevlopment(623,1182);
  @include desktop {
    padding: 2rem 0;
  }
  p {
    margin-bottom: 10rem;
  }

}
