@import "../../../styles/variables";

.wrapper {
  background-color: $someLightBlue;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 14rem 5rem;

  .innerWrapper {
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .heading {
      font-weight: 700;
      font-size: 20px;
      line-height: 116.8%;
      letter-spacing: 0.015em;
    }

    .capabilitiesList {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap:5rem;

      .singleCapabilitiWrapper {
        min-width: 40%;
        h3 {
          font-weight: 350;
          font-size: 36px;
          line-height: 18px;
          margin-bottom: 4rem;
        }
        p {
          font-weight: 350;
          font-size: 20px;
          line-height: 136.3%;
        }
      }
    }
  }
}
