@import "../../../styles/variables";

.wrapper {
  .offerSingle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.7rem;

    p {
      max-width: 50rem;
      font-weight: 350;
      font-size: 36px;
    }

    .image {
      width: 20rem;
      max-height: 12rem;
      position: relative;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
  }
}
