@import "../../../styles/variables";

.wrapper {
  color: $jet;
  display: flex;
  align-items: center;
  padding: 10rem 0;
  text-transform: capitalize;
  a {
    display: block;
    line-height: 1;
    border-bottom: 1px solid $navigationGreen;
    svg {
      width: 3rem;
      height: 1rem;
      margin-left: 1rem;
    }
  }
}

.left {
  justify-content: flex-start;
}
.center {
  justify-content: center;
}
