@import "../../../styles/variables";

.wrapper {
  color: $jet;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  width: 100%;
  a {
    display: block;
    line-height: 1;
    span {
      display: inline-block;
      z-index: 100;
      position: relative;
      background-color: transparent;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: rgba($blue, 0.5);
        transition: all 0.2s ease-in-out;
        z-index: 50;
      }

      &:hover::after {
        height: 100%;
      }
    }

    &:hover {
      color: $navigationGreen;
    }
    &:hover svg {
      stroke: $navigationGreen;
    }

    svg {
      width: 3rem;
      height: 1rem;
      margin-left: 1rem;
    }
  }
}

.left {
  justify-content: flex-start;
}
.center {
  justify-content: center;
}
