
.testemonialSlider .slick-next {
  top: 0;
  right: -100px !important;

}

.testemonialSlider .slick-prev {
  top: 0;
  left: 100% !important;
}
.testemonialSlider .slick-next::before {
  content: url('/assets/icons/arrowRight.svg');
}
.testemonialSlider .slick-next:hover::before {
  content: url('/assets/icons/arrowRightGreen.svg');
}
.testemonialSlider .slick-prev:hover::before {
  content: url('/assets/icons/arrowLeftGreen.svg');

}

.testemonialSlider .slick-prev::before {
  color: white ;
  content: url('/assets/icons/arrowLeft.svg');
}

.arrowPrevMyStyle {
  display: block;
  background-color: blue;
 }