
.testemonialSlider .slick-next {
  top: 0;
  right: -70px !important;

}

.testemonialSlider .slick-prev {
  top: 0;
  left: 100% !important;
}
.testemonialSlider .slick-next::before {
  content: url('/assets/icons/ArrowRight.svg');
}
/* .testemonialSlider .slick-next:hover::before {
  content: url('/assets/icons/ArrowLeft.svg');
} */

.testemonialSlider .slick-prev::before {
  color: white !important;
  content: url('/assets/icons/ArrowLeft.svg');
}

.arrowPrevMyStyle {
  display: block;
  background-color: blue;
 }