@import "../../../styles/variables";

.wrapper {
  margin-bottom: 3rem;
  height: 45rem;

  .slideSingleImage {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 45rem;

    img {
      object-fit: cover;
    }
  }


  .slideSingleTestemonial {
   p{ 
    color: $white;
   }
  }
}
