@import "../../../styles/variables";

.wrapper {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .singleWhatWeDo {
    display: flex;
    justify-content: center;
    gap: 4rem;

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .descriptionImage {
        width: 100%;
        height: 32rem;
        position: relative;
        overflow: hidden;
        img {
          object-fit: cover;
        }
      }
    }

    .image {
      width: 100%;
      height: 64rem;
      position: relative;
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
  }

  .reverse {
    flex-direction: row-reverse;
  }
}
