@import "../../../styles/variables";

.wrapper {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: $headerHeight;
  z-index: $header-z-index;
  width: 100%;
  transition: all 1s;

  .content {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigationAllWrapper {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      .hamburgerMenuWrapper {
        border: none;
        background: none;
      }

      .justNavigationWrapper {
        position: absolute;
        right: 0%;
        z-index: $navigation-z-index;
        max-height: 60rem;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .colapsed {
    max-height: 0px !important;
  }
}

.scrollFromTopEnough {
  background-color: transparent !important;
  padding-top: 10rem !important;
}

.onAbout {
  background-color: $someLightBlue;
}
.onAll {
  background-color: $white;
}
