@import "../../../styles/variables";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 1rem;
  min-height: $headerHeight;

  .navigationAllWrapper {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    .hamburgerMenuWrapper {
      border: none;
      background: none;
    }

    .justNavigationWrapper {
      position: absolute;
      right: 0%;
      z-index: 1000;
    }
  }

  .hide {
    display: none;
  }
}
