@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrapper {
  background-color: rgba($navigationGreen, 0.97);
  padding: 10rem 6rem 10rem 5rem;
  height: 100%;
  @include desktop {
    background-color: rgba($navigationGreen, 0.95);
    padding: 4rem 10rem 4rem 8rem;

  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    @include desktop {
      height: unset;
    }

    .productDevelopmentLi {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      margin-left: 1rem;

      .productDevelopmentUl {
        margin-left: 2rem;
        a {
          font-size: 2.2rem;
        }
      }
    }

    li {
      display: flex;
      align-items: center;
      min-width: 35rem;

      button {
        min-width: 3rem;
        border: none;
        background: none;
        color: $white;
        font-size: 2rem;
        margin-left: auto;
      }
      color: $white;
      width: 100%;
      a,
      span {
        display: block;
        padding: 2rem 0;
        width: 100%;
        font-family: $font-light;
        font-size: 3rem;
        line-height: 14px;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: $jet;
        }
      }
    }

    .getInTouch {
      margin-top: auto;
      font-weight: 800;
      font-family: $font-bold;
      font-size: 2.5rem;
    }
  }
}
