@import "../../../styles/variables";

.wrapper {
  background-color: rgba($navigationGreen, 0.95);
  padding: 2rem 4rem 2rem 4rem;


  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;



    li {
      display: flex;
      align-items: center;
min-width: 10rem;

      button {
        min-width: 3rem;
        border: none;
        background: none;
        color: $white;
        font-size: 2rem;
        margin-left: auto;
      }
      color: $white;
      width: 100%;
      a {
        display: block;
        padding: 2rem 0;
        width: 100%;
        font-family: $font-light;
        font-size: 3rem;
        line-height: 14px;
        transition: all 0.2s;
        &:hover {
          color: $jet;
        }
      }
    }

    .getInTouch {
      margin-top: 5rem;
      font-weight: 800;
      font-family: $font-bold;

    }
  }
}
