@font-face {
  font-family: 'Whyte-Regular';
  src: url('../public/assets/fonts/Whyte-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bookstory';
  src: url('../public/assets/fonts/Bookstory.ttf');
  font-weight: normal;
  font-style: normal;
}