@font-face {
  font-family: 'Whyte-Regular';
  src: url('../public/assets/fonts/Whyte-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte-Light';
  src: url('../public/assets/fonts/Whyte-Light.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Whyte-Bold';
  src: url('../public/assets/fonts/Whyte-Bold.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}