@mixin mobile {
  @media only screen and (width < 480px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (480px <= width < 768px) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (768px <= width < 1024px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (width >= 1024px) {
    @content;
  }
}

@mixin imageWrapperProductDevlopment($height: 1, $width: 1, $marginLeft: 0) {
  .imageWrapper {
    padding: 2.5rem 0;
    @include desktop {
      padding-bottom: 5.3rem;
    }
    .image {
      width: 100%;
      aspect-ratio: $width/$height;
      position: relative;
      overflow: hidden;
      margin-left: $marginLeft;
      img {
        object-fit: cover;
        max-width: 100%;
        display: block;
        object-position: center;
      }
    }
    p {
      padding: 0.7rem 0;
      text-align: left;
      color: gray;
      font-weight: 350;
      font-size: 0.6rem;
      line-height: 161.8%;
      letter-spacing: 0.01em;
      @include desktop {
        padding: 2rem 0;
        font-size: 1.6rem;
      }
    }
  }
}

@mixin imageWorkSingle($width: 1, $height: 1, $marginLeft: 0) {
  .image {
    width: 100%;
    aspect-ratio: $width/$height;
    position: relative;
    overflow: hidden;
    margin-left: $marginLeft;
    z-index: -1;

    img {
      object-fit: cover;
      max-width: 100%;
      display: block;
      object-position: center;
    }
  }
}
