$headerHeight: 6rem;
$footerHeight: 17rem;

$someLightBlue: #f2f4fe;
$footerBcgColor: #192c33;

// z-index
$header-z-index: 900;
$navigation-z-index: 1000;
//fonts
$font-regular: "Whyte-Regular", sans-serif;
$font-light: "Whyte-Light", sans-serif;
$font-bold: "Whyte-Bold", sans-serif;

// colors
$navigationGreen: #52b44d;
$white: white;
$black: black;
$red: red;
$blue: blue;

$clientsGray: gray;

$paleLemon: #fffceb;
$lavender: #E1E4FF;
$lavenderBlush: #fff2f2;
$champagnePink: #e5d3cd;
$gunmetal: #16282f;
$darkPastelGreen: #52b44d;
$lavender: #e1e4ff;
$magnolia: #f7f1ff;
$magnoliaDark: #eae6f1;
$teaRose: #ffc6c2;
$jet: #373435;
$aliceBlue: #eaf5ff;
$mintCream: #effffa;
$cosmicLatte: #fff8e3;
$aliceBluelight: #eef9ff;
$mistyRose: #ffe5e3;
$seashell: #ffefe5;

// sizes
$sectionCenteredWidth: 60%;
