$headerHeight: 6rem;
$footerHeight: 17rem;

$homePageBcgColor: #F2F4FE;
$aboutPageHeaderBcgColor: #F2F4FE;

$footerBcgColor: #192C33;

$font-regular: 'Whyte-Regular', sans-serif;

// colors
$navigationGreen: #52B44D;
$white: white;
$black: black;
$red: red;
$blue: blue;

$paleLemon: #fffceb;
$lavenderBlush: #fff2f2;
$champagnePink: #e5d3cd;
$gunmetal: #16282f;
$darkPastelGreen: #52b44d;
$lavender: #e1e4ff;
$magnolia: #f7f1ff;
$magnoliaDark: #eae6f1;
$teaRose: #ffc6c2;
$jet: #373435;
$aliceBlue: #eaf5ff;
$mintCream: #effffa;
$cosmicLatte: #fff8e3;
$aliceBluelight: #eef9ff;
$mistyRose: #ffe5e3;
$seashell:#ffefe5;

// sizes
$sectionCenteredWidth: 60%;