$headerHeight: 6rem;
$footerHeight: 17rem;
$homePageBcgColor: #F2F4FE;
$aboutPageBcgColor: purple;
$workPageBcgColor: lightgreen;
$headerBcgColor: #F2F4FE;
$footerBcgColor: #192C33;

$font-regular: 'Whyte-Regular', sans-serif;

// colors
$navigationGreen: #52B44D;
$white: white;
$black: black;
$red: red;
$blue: blue;