@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: $pagesMaxWidth;

  .weAreConturaSection {
    background-color: $someLightBlue;
    width: 100%;
    padding: 15rem 0 16rem 0;

    @include desktop {
      padding: 35rem 0 26rem 0;
    }
  }
  .watWeDoSection {
    padding-top: 6rem;
    @include desktop {
      padding: 14rem 0 5rem 0;
    }
  }
  .capabilitesSection {
    background-color: $someLightBlue;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 6rem 6.3rem;

    @include desktop {
      padding: 14rem 5rem;
    }
  }
  .clientsSection {
    padding: 6rem 5rem 9rem 5rem;
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      padding: 14rem 0 30rem 0;
    }
    .title {
      color: $white;
      margin-bottom: 7rem;
      font-size: 2.4rem;
    }
  }

  .slidersSection {
    width: 100%;
    background-color: $black;
    padding-bottom: 5rem;
    padding-inline: 5rem;
    @include desktop {
      padding-bottom: 10rem;
      padding-inline: 0;
    }
    .testemonialSlider {
      background-color: $black;
      width: 100%;
      margin: 0 auto;
      min-height: 30rem;
      @include desktop {
        min-height: auto;
        width: 60%;
      }
    }

    .workSliderSection {
      max-height: 40rem;
      width: calc(100% + 10rem);
      max-width: calc(100% + 10rem);
      margin: 0 auto;
      margin-left: -5rem;
      overflow: hidden;
      @include desktop {
        max-height: unset;
        width: auto;
        margin-left: 0;
        max-width: 100%;
      }
    }
  }
}
