@import '../../../styles/variables';

.wrapper {

    button {
        border: none;
        background: none;
        font-size: 3rem;
    }

    .content {

    }
    .hide {
        display: none;
    }
}