@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrapper {
  display: block;
  button {
    border: none;
    background: none;
    font-size: 3rem;
    font-weight: 350;
    height: auto;
    min-width: 30rem;
    @include desktop {
      margin-bottom: 1rem;
    }

    .insideBtnWrapper {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      align-items: center;
      height: auto;

      .title {
        font-size: 3rem;
        line-height: 130%;
        transition: all 0.2s ease-in-out;
      }

      .titleLightThicknes {
        font-family: $font-light;
      }

      .titleRegularThicknes {
        font-family: $font-regular;
      }

      .titleBlack {
        color: $jet;
      }
      .titleWhite {
        color: $white;
      }

      .titleNavigation {
        color: $white;
        &:hover {
          color: $jet;
        }
      }
      .btnExpandedGreen {
        color: $navigationGreen;
      }
      .btnExpandedLila {
        color: $lavender;
      }
      .arrow {
        width: 2rem;
        margin-left: 1rem;
      //  transition: all 0.4s ease-in-out;
        svg {
          width: 100%;
          height: 100%;
          stroke-width: 2;
        }
      }
    }
  }

  .content {
    max-width: 100%;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    // p {
    //   margin-bottom: 2rem;
    // }
  }

  .contentDesignStrategy {
    padding: 1.5rem 2rem;
    max-height: 35rem;
    p {
      font-weight: 350;
      font-size: 2rem;
      line-height: 117.3%;
      color: $jet;
    }
  }
  .contentFAQ {
    max-height: 45rem;
    padding: 3rem 2rem;
    p {
      font-weight: 350;
      font-size: 2rem;
      line-height: 134.3%;
      color: $white;
    }
  }
  .contentNavigation {
    max-height: 40rem;
  }

  .colapsed {
    max-height: 0rem;
    padding: 0rem 2rem;

  }

  .arrowExpandedGreen {
    transform: rotateZ(-180deg);
    svg {
      stroke: $navigationGreen !important;
    }
  }
  .arrowExpandedLila {
    transform: rotateZ(-180deg);
    svg {
      stroke: $lavender !important;
    }
  }

  .arrowWhite {
    svg {
      stroke: $white;
    }
  }
  .arrowBlack {
    svg {
      stroke: $jet;
    }
  }
  .arrowNo {
    display: none;
  }
}
