@import '../../../styles/variables';

.wrapper {
    width: 40%;
    border: 1px solid red;
    .wrapperImgAndDescription {
        border: 1px solid green;
        display: flex;

        .description {
            padding: 6rem 2rem;
        }
        .image {
            width: 100%;
            height: 35rem;
            position: relative;
            overflow: hidden;
            img {
                object-fit: cover;
            }
          }
    }

    .bcgRed {
        background-color: $red;
    }
    .bcgBlue {
        background-color: $blue;
    }

    p {
        margin-top: 2rem;
    }

    .orderImageUp {
    flex-direction: column;
    justify-content: flex-start;
}
.orderImageDown {
    flex-direction: column-reverse;
    justify-content: flex-start;
    }
}
