@import '../../../styles/variables';

.wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    padding-top: 20rem;

    .description {

        p {
            max-width: 51rem;
        }
    }

    .numbersWrapper {

    }
}
